<%- include("../partials/header") %>

<table class="table" style="width:80%;margin:auto;text-align:center">
	<tr>
		<td><a href="/admin/students/score"><button class="btn btn-info">Student Score-Card</button></a></td>
		<td><a href="/admin/students/attendance"><button class="btn btn-info">Student Attendance</button></a></td>
	</tr>
	<tr>
		<td><a href="/admin/students"><button class="btn btn-info">Students info</button></a></td>
		<td><a href="/admin/professors"><button class="btn btn-info">Professors info</button></a></td>
	</tr>
	<tr>
		<td><a href="/admin/professor/new"><button class="btn btn-info">Add New Professor</button></a></td>
		<td><a href="/admin/student/new"><button class="btn btn-info">Add New Student</button></a></td>
	</tr>
	<tr>
		<td><a href="/admin/students/dataList"><button class="btn btn-info">Students Inital credientials</button></a></td>
		<td><a href="/admin/professors/dataList"><button class="btn btn-info">Professors Inital credientials</button></a></td>
	</tr>

</table>



<%- include("../partials/footer") %>