<%- include("partials/header") %>
<div class="container">
	 <div class="row"  style="margin:10% auto;">
		<div class="col-lg-12">


		<div class="card align-items-center mx-auto" style="width: 18rem;">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f7/M.B.M._Engineering_College_-_Logo.png/220px-M.B.M._Engineering_College_-_Logo.png" class="card-img-top" >
		</div>

	<div class="row text-center">
		<div class="col-lg-12 ">
			<div class="table">
				<div>
					<h3>
						LOG IN
					</h3>
					<a href="/login/student"><em> <button class="btn btn-outline-primary btn-lg">Student</button> </em></a>
					<a href="/login/professor"><button class="btn btn-outline-primary btn-lg">Professor</button></a>
					<a href="/login/admin"><button class="btn btn-outline-primary btn-lg">Admin</button></a>
				</div>
			</div>
		</div>
	</div>
		 </div>
</div>
	
</div>




<%- include("partials/footer") %>

